-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: strategy
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `master_data`
--

DROP TABLE IF EXISTS `master_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_data` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `master_data_desc` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `master_data_enum` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_data`
--

LOCK TABLES `master_data` WRITE;
/*!40000 ALTER TABLE `master_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_data_item`
--

DROP TABLE IF EXISTS `master_data_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_data_item` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `item_desc` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `item_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `master_data_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKj23mx811613qkqs9tgr3ux1k3` (`master_data_id`),
  CONSTRAINT `FKj23mx811613qkqs9tgr3ux1k3` FOREIGN KEY (`master_data_id`) REFERENCES `master_data` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_data_item`
--

LOCK TABLES `master_data_item` WRITE;
/*!40000 ALTER TABLE `master_data_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_data_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portfolio`
--

DROP TABLE IF EXISTS `portfolio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portfolio` (
  `portfolio_id` bigint NOT NULL AUTO_INCREMENT,
  `end_date` bigint DEFAULT NULL,
  `increase_in_profit` bigint DEFAULT NULL,
  `is_tick_bt` bit(1) DEFAULT NULL,
  `lock_min_profit_at` bigint DEFAULT NULL,
  `portfolio_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `portfolio_stoploss` bigint DEFAULT NULL,
  `portfolio_target` bigint DEFAULT NULL,
  `portfolio_trailingtype` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `portfolio_reaches` bigint DEFAULT NULL,
  `is_ran` bit(1) DEFAULT NULL,
  `start_date` bigint DEFAULT NULL,
  `trail_min_profit_by` bigint DEFAULT NULL,
  `created_by` bigint NOT NULL,
  PRIMARY KEY (`portfolio_id`),
  KEY `FKh3n4c7w2y3011gb1t58iak5fl` (`created_by`),
  CONSTRAINT `FKh3n4c7w2y3011gb1t58iak5fl` FOREIGN KEY (`created_by`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portfolio`
--

LOCK TABLES `portfolio` WRITE;
/*!40000 ALTER TABLE `portfolio` DISABLE KEYS */;
INSERT INTO `portfolio` VALUES (1,240930,0,_binary '\0',0,'September',0,0,'Lock Minimum Profit',0,_binary '',240901,0,1),(2,240930,0,_binary '\0',0,'TBS Multi ST',0,0,'Lock & Trail Profits',0,_binary '',240901,0,1),(3,231231,0,_binary '\0',0,'2023',0,0,'Lock & Trail Profits',0,_binary '',230101,0,1);
/*!40000 ALTER TABLE `portfolio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portfolio_day_wise_metrics`
--

DROP TABLE IF EXISTS `portfolio_day_wise_metrics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portfolio_day_wise_metrics` (
  `portfolio_day_wise_metrics_id` bigint NOT NULL AUTO_INCREMENT,
  `april` double DEFAULT NULL,
  `august` double DEFAULT NULL,
  `december` double DEFAULT NULL,
  `february` double DEFAULT NULL,
  `friday` double DEFAULT NULL,
  `january` double DEFAULT NULL,
  `july` double DEFAULT NULL,
  `june` double DEFAULT NULL,
  `march` double DEFAULT NULL,
  `may` double DEFAULT NULL,
  `metric_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `monday` double DEFAULT NULL,
  `november` double DEFAULT NULL,
  `october` double DEFAULT NULL,
  `saturday` double DEFAULT NULL,
  `september` double DEFAULT NULL,
  `strategy` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sunday` double DEFAULT NULL,
  `thursday` double DEFAULT NULL,
  `total` double DEFAULT NULL,
  `tuesday` double DEFAULT NULL,
  `wednesday` double DEFAULT NULL,
  `year` int DEFAULT NULL,
  `portfolio_id` bigint DEFAULT NULL,
  PRIMARY KEY (`portfolio_day_wise_metrics_id`),
  KEY `FKqh2u65q6r3mqjg6n065015y05` (`portfolio_id`),
  CONSTRAINT `FKqh2u65q6r3mqjg6n065015y05` FOREIGN KEY (`portfolio_id`) REFERENCES `portfolio` (`portfolio_id`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portfolio_day_wise_metrics`
--

LOCK TABLES `portfolio_day_wise_metrics` WRITE;
/*!40000 ALTER TABLE `portfolio_day_wise_metrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `portfolio_day_wise_metrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portfolio_metrics`
--

DROP TABLE IF EXISTS `portfolio_metrics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portfolio_metrics` (
  `portfolio_metrics_id` bigint NOT NULL AUTO_INCREMENT,
  `average_loss` double DEFAULT NULL,
  `average_profit` double DEFAULT NULL,
  `backtest_end_date` bigint DEFAULT NULL,
  `backtest_start_date` bigint DEFAULT NULL,
  `cagr` double DEFAULT NULL,
  `calmar` double DEFAULT NULL,
  `consecutive_loss` double DEFAULT NULL,
  `consecutive_win` double DEFAULT NULL,
  `no_day_recover_drawdown` int DEFAULT NULL,
  `expectancy` double DEFAULT NULL,
  `margin_required` double DEFAULT NULL,
  `max_drawdown` double DEFAULT NULL,
  `max_drawdown_percentage` double DEFAULT NULL,
  `max_trade_loss` double DEFAULT NULL,
  `max_trade_profit` double DEFAULT NULL,
  `median_trade` double DEFAULT NULL,
  `no_of_neg_trading_days` int DEFAULT NULL,
  `no_of_pos_trading_days` int DEFAULT NULL,
  `no_of_trading_days` int DEFAULT NULL,
  `outlier_adjusted_profit_factor` double DEFAULT NULL,
  `profit_factor` double DEFAULT NULL,
  `sharpe_ratio` double DEFAULT NULL,
  `sortino_ratio` double DEFAULT NULL,
  `strategy` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `total_pnl` double DEFAULT NULL,
  `win_rate` double DEFAULT NULL,
  `portfolio_id` bigint DEFAULT NULL,
  PRIMARY KEY (`portfolio_metrics_id`),
  KEY `FK1dtdi3a87whjfw4irwcgjd5g0` (`portfolio_id`),
  CONSTRAINT `FK1dtdi3a87whjfw4irwcgjd5g0` FOREIGN KEY (`portfolio_id`) REFERENCES `portfolio` (`portfolio_id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portfolio_metrics`
--

LOCK TABLES `portfolio_metrics` WRITE;
/*!40000 ALTER TABLE `portfolio_metrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `portfolio_metrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portfolio_shared`
--

DROP TABLE IF EXISTS `portfolio_shared`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portfolio_shared` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `portfolio_id` bigint DEFAULT NULL,
  `shared_from` bigint NOT NULL,
  `shared_to` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKr5cywrypj508not2vciohej8t` (`shared_from`),
  KEY `FK10trv0aanqg9g89kh3ge7lt3w` (`shared_to`),
  CONSTRAINT `FK10trv0aanqg9g89kh3ge7lt3w` FOREIGN KEY (`shared_to`) REFERENCES `user` (`id`),
  CONSTRAINT `FKr5cywrypj508not2vciohej8t` FOREIGN KEY (`shared_from`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portfolio_shared`
--

LOCK TABLES `portfolio_shared` WRITE;
/*!40000 ALTER TABLE `portfolio_shared` DISABLE KEYS */;
INSERT INTO `portfolio_shared` VALUES (2,1,1,1);
/*!40000 ALTER TABLE `portfolio_shared` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portfolio_strategies`
--

DROP TABLE IF EXISTS `portfolio_strategies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portfolio_strategies` (
  `strategy_id` bigint NOT NULL AUTO_INCREMENT,
  `chg_strike_ind_base_re_entry` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `check_prem_diff_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `consider_ema_for_entry` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `consider_ema_for_exit` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `consider_hedge_pnl_for_stgy_pnl` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `consider_rsi_for_entry` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `consider_rsi_for_exit_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `consider_st_entry_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `consider_st_exit_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `consider_vol_sma_for_entry` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `consider_vol_sma_for_exit` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `consider_vwap_for_entry` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `consider_vwap_for_exit` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dte` bigint DEFAULT NULL,
  `ema_entry_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ema_exit_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ema_period` int DEFAULT NULL,
  `end_time` int DEFAULT NULL,
  `entry_combination` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `exit_combination` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `increase_in_profit` int DEFAULT NULL,
  `stock_index` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `indicator_based_re_entry` int DEFAULT NULL,
  `last_entry_time` int DEFAULT NULL,
  `lock_min_profit_at` int DEFAULT NULL,
  `move_si_to_cost` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `on_expiry_day_trade_next_expiry` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `orb_range_end` bigint DEFAULT NULL,
  `orb_range_start` bigint DEFAULT NULL,
  `pnl_calculation_from` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prem_diff_change_strike` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prem_diff_do_force_after` int DEFAULT NULL,
  `prem_diff_do_force_entry` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prem_diff_entry_consider` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prem_diff_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prem_diff_value` int DEFAULT NULL,
  `profit_reaches` int DEFAULT NULL,
  `re_entry_checking_interval` int DEFAULT NULL,
  `rsi_entry_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rsi_exit_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rsi_period` int DEFAULT NULL,
  `run_on_friday` bit(1) DEFAULT NULL,
  `run_on_monday` bit(1) DEFAULT NULL,
  `run_on_thursday` bit(1) DEFAULT NULL,
  `run_on_tuesday` bit(1) DEFAULT NULL,
  `run_on_wednesday` bit(1) DEFAULT NULL,
  `si_register_price_from` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `si_tracking_from` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `st_entry_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `st_exit_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `st_multiplier` int DEFAULT NULL,
  `st_period` int DEFAULT NULL,
  `start_time` int DEFAULT NULL,
  `stop_loss_checking_interval` int DEFAULT NULL,
  `strategy_loss` int DEFAULT NULL,
  `lstrategy_oss_re_execute_no` int DEFAULT NULL,
  `strategy_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `strategy_profit` int DEFAULT NULL,
  `strategy_profit_re_execute_no` int DEFAULT NULL,
  `strategy_trailing_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `strategy_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `strike_selection_time` int DEFAULT NULL,
  `target_checking_interval` int DEFAULT NULL,
  `tgt_register_price_from` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tgt_tracking_from` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `time_frame` int DEFAULT NULL,
  `trader_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trail_min_profit_by` int DEFAULT NULL,
  `underlying` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vol_sma_period` int DEFAULT NULL,
  `vol_sma_entry_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vol_sma_exit_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vwap_entry_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vwap_exit_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `portfolio_id` bigint DEFAULT NULL,
  PRIMARY KEY (`strategy_id`),
  KEY `FK65vo6efvorqx3ser6bbnsukpc` (`portfolio_id`),
  CONSTRAINT `FK65vo6efvorqx3ser6bbnsukpc` FOREIGN KEY (`portfolio_id`) REFERENCES `portfolio` (`portfolio_id`)
) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portfolio_strategies`
--

LOCK TABLES `portfolio_strategies` WRITE;
/*!40000 ALTER TABLE `portfolio_strategies` DISABLE KEYS */;
/*!40000 ALTER TABLE `portfolio_strategies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portfolio_strategies_leg_param`
--

DROP TABLE IF EXISTS `portfolio_strategies_leg_param`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portfolio_strategies_leg_param` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `expiry` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hedge_strike_method` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hedge_strike_premium_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hedge_strike_value` double DEFAULT NULL,
  `instrument` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_idle` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `leg_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lots` int DEFAULT NULL,
  `match_permium` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `on_entry_open_trade_delay` int DEFAULT NULL,
  `on_entry_open_trade_on` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `on_entry_sq_off_all_legs` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `on_entry_sq_off_delay` int DEFAULT NULL,
  `on_entry_sq_off_trade_off` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `on_exit_open_trade_delay` int DEFAULT NULL,
  `on_exit_open_trade_on` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `on_exit_sq_off_all_legs` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `on_exit_sq_off_delay` int DEFAULT NULL,
  `on_exit_sq_off_trade_off` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `open_hedge` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sl_re_entry_no` int DEFAULT NULL,
  `sl_re_entry_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trail_sl_at` double DEFAULT NULL,
  `trail_sl_by` double DEFAULT NULL,
  `sl_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sl_value` double DEFAULT NULL,
  `strike_method` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `strike_premium_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `strike_value` double DEFAULT NULL,
  `tgt_re_entry_no` int DEFAULT NULL,
  `tgt_re_entry_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tgt_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tgt_value` double DEFAULT NULL,
  `trail_sl_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `transaction` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `wt_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `wt_value` double DEFAULT NULL,
  `portfolio_strategies_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKhcdqia3r7nn1tps6kbpks71hy` (`portfolio_strategies_id`),
  CONSTRAINT `FKhcdqia3r7nn1tps6kbpks71hy` FOREIGN KEY (`portfolio_strategies_id`) REFERENCES `portfolio_strategies` (`strategy_id`)
) ENGINE=InnoDB AUTO_INCREMENT=251 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portfolio_strategies_leg_param`
--

LOCK TABLES `portfolio_strategies_leg_param` WRITE;
/*!40000 ALTER TABLE `portfolio_strategies_leg_param` DISABLE KEYS */;
/*!40000 ALTER TABLE `portfolio_strategies_leg_param` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portfolio_transaction`
--

DROP TABLE IF EXISTS `portfolio_transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portfolio_transaction` (
  `portfolio_transaction_id` bigint NOT NULL AUTO_INCREMENT,
  `entry_date` bigint DEFAULT NULL,
  `entry_day` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `entry_price` double DEFAULT NULL,
  `entry_time` int DEFAULT NULL,
  `exit_date` bigint DEFAULT NULL,
  `exit_day` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `exit_price` double DEFAULT NULL,
  `exit_time` int DEFAULT NULL,
  `expenses` double DEFAULT NULL,
  `expiry` bigint DEFAULT NULL,
  `filled_quantity` bigint DEFAULT NULL,
  `index_entry_price` double DEFAULT NULL,
  `index_exit_price` double DEFAULT NULL,
  `instrument_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `leg_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `max_loss` double DEFAULT NULL,
  `max_profit` double DEFAULT NULL,
  `net_pnl_after_expenses` double DEFAULT NULL,
  `pnl` double DEFAULT NULL,
  `pnl_after_slippage` double DEFAULT NULL,
  `points` double DEFAULT NULL,
  `points_after_slippage` double DEFAULT NULL,
  `portfolio_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `re_entry_no` int DEFAULT NULL,
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `side` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stop_loss_entry_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `strategy` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `strategy_entry_number` int DEFAULT NULL,
  `strike` bigint DEFAULT NULL,
  `symbol` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `take_profit_entry_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `portfolio_id` bigint DEFAULT NULL,
  PRIMARY KEY (`portfolio_transaction_id`),
  KEY `FK1yf4ftqiyi6w944p335e56m8l` (`portfolio_id`),
  CONSTRAINT `FK1yf4ftqiyi6w944p335e56m8l` FOREIGN KEY (`portfolio_id`) REFERENCES `portfolio` (`portfolio_id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portfolio_transaction`
--

LOCK TABLES `portfolio_transaction` WRITE;
/*!40000 ALTER TABLE `portfolio_transaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `portfolio_transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) DEFAULT NULL,
  `display_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_rest_date` bigint DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_rest_password` bit(1) DEFAULT NULL,
  `username` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKsb8bbouer5wak8vyiiy4pf2bx` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (1,_binary '','Admin',NULL,'$2a$10$YTAzJHciW5Xlzn2kUckQduIKxmT4nRWELDAV4HaW/2IXw5IPjEmVi',_binary '\0','admin'),(2,_binary '','Reiner',NULL,'$2a$10$CTRAvk.CgMEsakc.V4iX6eDG42BTT6WDWCffK.0quVBZZUs1FHXBK',_binary '\0','reiner'),(3,_binary '','Joshua',NULL,'$2a$10$jx9UzlAF5ZKy3AhaHwg4l.k4T1Ji9AWObuOU2fhjsAavmWYqqsPre',_binary '\0','joshua'),(4,_binary '','Robert',NULL,'$2a$10$cDe2Yya8k5W3XW8KESBSNeoqUwLiMfDh8RspGhk9cq/bItI84UbuW',_binary '\0','robert');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_access`
--

DROP TABLE IF EXISTS `user_access`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_access` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `access_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKd8rvxj0a880uk6eykeb2padm0` (`user_id`),
  CONSTRAINT `FKd8rvxj0a880uk6eykeb2padm0` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_access`
--

LOCK TABLES `user_access` WRITE;
/*!40000 ALTER TABLE `user_access` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_access` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-09-30 16:38:04
